html, body {
    height: 100%;
    overflow-y: hidden;
}
body{
    background-image: url('../images/background.png');
    background-size: cover;
}
h1{
    font-size: xxx-large;
    font-family: "Ink Free", sans-serif;
    font-weight: bold;
    border-bottom: 1px solid black;
}
input#username{
    height: 5%;
    border: 2px solid black;
    margin-bottom: 10px;
}
label{
    display: flex;
}
div#container{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    width: 50%;
    height: 65%;
    margin: 25px auto auto auto;
}
input#btntracker{
    margin-top: 8%;
    background: linear-gradient(to right, rgba(170,134,208,1), rgba(208,182,228,1));
    height: 50px;
    width: 150px;
    font-size: 100%;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 10%;
    border: none;
}
input#btntracker:hover{
    border: 1px solid;
    box-shadow: 1px 1px black;
    cursor: pointer;
}
td,
th {
    padding: 12px 15px;
    color: black;
    text-align: center;
    font-size: x-large;
    font-family: sans-serif;
}
div#containtable{
    margin-top: 25px;
}
.styled_table{
    border-collapse: collapse;
    background-color: #CEAFE5;
}
span#error{
    visibility: hidden;
    color: red;
    font-style: italic;
}
.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 10%;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    margin: 2rem;
}
.radio--input{
    display: none;
}
.radio--input:checked+.radio--label{
    background: white;
}
.radio--label{
    padding: 8px 14px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #CEAFE5;
    cursor: pointer;
    transition: background-color 0.2s;
}
.radio--label:not(:last-of-type){
    border-right: 1px solid black;
}